@import url('https://fonts.googleapis.com/css?family=Poppins');
$font-stack: Poppins, sans-serif;

$blue-background: #2a00a2;
$blue-text: #5f2eea;
$pink-background: #ed2e7e;
$pink-light-background: #fff3f8;
$grey-background: #eff0f7;
$grey-text: #4e4b66;
$green-background: #00ba88;
$grey-footer: #6e7191;
$grey-line: #d9dbe9;
$grey-text-button: #14142b;
$header-line: #bca4ff;
