@use 'variables';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: variables.$font-stack;
    min-height: 100vh;
    width: 481px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
    margin-top: 34px;
    margin-bottom: 26px;

    nav {
        position: absolute;
        width: 28px;
        height: 18px;
        left: 319px;
        top: 39px;
    }
}

.block1 {
    ::before {
        content: '';
    }
    height: 515px;
    margin-top: 77px;
    margin-left: 30px;
    margin-right: 30px;

    .block1__title {
        display: flex;
        font-family: 'Poppins';
        width: 421px;
        height: 87px;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 1px;
    }

    .block1__selector-block {
        display: flex;
        margin-bottom: 25px;
        width: 421px;
        height: 56px;
        border-radius: 16px;
        background-color: variables.$grey-background;
    }

    .block1__search-block {
        width: 421px;
        height: 55px;
        border-radius: 40px;
        background-color: variables.$pink-background;
        border: variables.$pink-background;
        color: white;
    }
}
